# Laravel
/laravel/vendor/
/laravel/.env
/laravel/storage/framework/
/laravel/storage/logs/
/laravel/public/storage
/laravel/public/hot

# Next.js
/nextjs/.next/
/nextjs/node_modules/
/nextjs/out/
/nextjs/.env.local
/nextjs/.env.development.local
/nextjs/.env.test.local
/nextjs/.env.production.local

# General
/node_modules/
npm-debug.log
yarn-error.log
.pnp
.pnp.js

# OS
.DS_Store
Thumbs.db
.qodo